<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Placements</title>

    <!-- Favicon -->
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎓</text></svg>">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Student Placements!</h1>

    <b style="margin-left: 35px;">
        <i style="margin-left: 35px;">
            <em style="margin-left: 35px;">
                {{ predictions }}
            </em>
        </i>
    </b>

    <br><br><br>

    <form action="/" method="POST">
        <label>CGPA
            &nbsp;&nbsp;
            <input type="text" name="cgpa" id="cgpa" />
        </label>
        <br>
        <br>
        <label>IQ
            &nbsp;&nbsp;
            <input type="text" name="iq" id="iq" />
        </label>
        <br>
        <br>
        <label>Profile Score
            &nbsp;&nbsp;
            <input type="text" name="profile_score" id="profile_score" />
        </label>
        <br>
        <br>
        <button type="submit" value="Predicts">Predict</button>
    </form>
</body>

</html>